<div class="footer fixed">
    <div class="pull-right" data-i18n="app.project_name">
        
    </div>
    <div>
        <strong data-i18n="app.copyright">Tüm hakları saklıdır.</strong> <span data-i18n="app.copyright_company_name"> Pidata Yazılım </span>&copy; 2021
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).i18n();
    });
</script>